* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
}
.flexColumn {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.rating__form__container {
	width: 100%;
}

.form__container {
	width: 50%;
}
